FileStorage/Client.WPFClient/Service References/FileStorageServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="RemoteFileStreamMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="data" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" name="fileId" type="q2:guid" />
  <xs:element name="fileName" nillable="true" type="xs:string" />
  <xs:element name="streamLength" type="xs:long" />
  <xs:element name="RemoteFileStreamRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>