FileStorage/Client.WPFClient/Service References/FileStorageServiceReference/WCFService.ServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFService.ServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFService.ServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfRemoteFileStreamMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RemoteFileStreamMessage" nillable="true" type="tns:RemoteFileStreamMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRemoteFileStreamMessage" nillable="true" type="tns:ArrayOfRemoteFileStreamMessage" />
  <xs:complexType name="RemoteFileStreamMessage">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="data" nillable="true" type="q1:Stream" />
      <xs:element minOccurs="0" name="fileId" type="ser:guid" />
      <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="streamLength" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemoteFileStreamMessage" nillable="true" type="tns:RemoteFileStreamMessage" />
</xs:schema>