FileStorage/Client.ConsoleClient/Service References/FileStorageServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileStorageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileStorageService_UploadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="IFileStorageService_UploadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileStorageService_GetFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFile" />
  </wsdl:message>
  <wsdl:message name="IFileStorageService_GetFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileResponse" />
  </wsdl:message>
  <wsdl:message name="UploadStreamMessage">
    <wsdl:part name="parameters" element="tns:UploadStreamMessage" />
  </wsdl:message>
  <wsdl:message name="UploadStreamMessage_Headers">
    <wsdl:part name="streamLength" element="tns:streamLength" />
    <wsdl:part name="streamName" element="tns:streamName" />
  </wsdl:message>
  <wsdl:message name="IFileStorageService_UploadFileEnvelope_OutputMessage" />
  <wsdl:portType name="IFileStorageService">
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileStorageService/UploadFile" message="tns:IFileStorageService_UploadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileStorageService/UploadFileResponse" message="tns:IFileStorageService_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileStorageService/GetFile" message="tns:IFileStorageService_GetFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileStorageService/GetFileResponse" message="tns:IFileStorageService_GetFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFileEnvelope">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileStorageService/UploadFileEnvelope" name="UploadStreamMessage" message="tns:UploadStreamMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileStorageService/UploadFileEnvelopeResponse" message="tns:IFileStorageService_UploadFileEnvelope_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileStorageService" type="tns:IFileStorageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IFileStorageService/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <soap:operation soapAction="http://tempuri.org/IFileStorageService/GetFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileEnvelope">
      <soap:operation soapAction="http://tempuri.org/IFileStorageService/UploadFileEnvelope" style="document" />
      <wsdl:input name="UploadStreamMessage">
        <soap:header message="tns:UploadStreamMessage_Headers" part="streamLength" use="literal" />
        <soap:header message="tns:UploadStreamMessage_Headers" part="streamName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileStorageService">
    <wsdl:port name="BasicHttpBinding_IFileStorageService" binding="tns:BasicHttpBinding_IFileStorageService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/FileStorage.ServiceLibrary/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>