FileStorage/Client.ConsoleClient/Service References/FileStorageServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileStorageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFService.ServiceLibrary" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RemoteFileStreamMessage">
    <wsdl:part name="parameters" element="tns:RemoteFileStreamMessage" />
  </wsdl:message>
  <wsdl:message name="RemoteFileStreamMessage_Headers">
    <wsdl:part name="fileId" element="tns:fileId" />
    <wsdl:part name="fileName" element="tns:fileName" />
    <wsdl:part name="streamLength" element="tns:streamLength" />
  </wsdl:message>
  <wsdl:message name="IFileStorageService_UploadFile_OutputMessage" />
  <wsdl:message name="RemoteFileStreamRequest">
    <wsdl:part name="parameters" element="tns:RemoteFileStreamRequest" />
  </wsdl:message>
  <wsdl:message name="RemoteFileStreamRequest_Headers">
    <wsdl:part name="fileId" element="tns:fileId" />
  </wsdl:message>
  <wsdl:message name="IFileStorageService_GetAllFilesMetadata_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFilesMetadata" />
  </wsdl:message>
  <wsdl:message name="IFileStorageService_GetAllFilesMetadata_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFilesMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="IFileStorageService_DeleteFile_OutputMessage" />
  <wsdl:portType name="IFileStorageService">
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileStorageService/UploadFile" name="RemoteFileStreamMessage" message="tns:RemoteFileStreamMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileStorageService/UploadFileResponse" message="tns:IFileStorageService_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileStorageService/DownloadFile" name="RemoteFileStreamRequest" message="tns:RemoteFileStreamRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileStorageService/DownloadFileResponse" name="RemoteFileStreamMessage" message="tns:RemoteFileStreamMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFilesMetadata">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileStorageService/GetAllFilesMetadata" message="tns:IFileStorageService_GetAllFilesMetadata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileStorageService/GetAllFilesMetadataResponse" message="tns:IFileStorageService_GetAllFilesMetadata_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileStorageService/DeleteFile" name="RemoteFileStreamRequest" message="tns:RemoteFileStreamRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileStorageService/DeleteFileResponse" message="tns:IFileStorageService_DeleteFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileStorageService" type="tns:IFileStorageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IFileStorageService/UploadFile" style="document" />
      <wsdl:input name="RemoteFileStreamMessage">
        <soap:header message="tns:RemoteFileStreamMessage_Headers" part="fileId" use="literal" />
        <soap:header message="tns:RemoteFileStreamMessage_Headers" part="fileName" use="literal" />
        <soap:header message="tns:RemoteFileStreamMessage_Headers" part="streamLength" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/IFileStorageService/DownloadFile" style="document" />
      <wsdl:input name="RemoteFileStreamRequest">
        <soap:header message="tns:RemoteFileStreamRequest_Headers" part="fileId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RemoteFileStreamMessage">
        <soap:header message="tns:RemoteFileStreamMessage_Headers" part="fileId" use="literal" />
        <soap:header message="tns:RemoteFileStreamMessage_Headers" part="fileName" use="literal" />
        <soap:header message="tns:RemoteFileStreamMessage_Headers" part="streamLength" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFilesMetadata">
      <soap:operation soapAction="http://tempuri.org/IFileStorageService/GetAllFilesMetadata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/IFileStorageService/DeleteFile" style="document" />
      <wsdl:input name="RemoteFileStreamRequest">
        <soap:header message="tns:RemoteFileStreamRequest_Headers" part="fileId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileStorageService">
    <wsdl:port name="BasicHttpBinding_IFileStorageService" binding="tns:BasicHttpBinding_IFileStorageService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/FileStorage.ServiceLibrary/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>