FileStorage/Client.ConsoleClient/Service References/FileStorageServiceReference/WCFService.ServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFService.ServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFService.ServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="RemoteStreamEnvelope">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="FileData" nillable="true" type="q1:Stream" />
      <xs:element minOccurs="0" name="FileId" type="ser:guid" />
      <xs:element minOccurs="0" name="MyProperty" type="xs:int" />
      <xs:element minOccurs="0" name="StreamLength" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemoteStreamEnvelope" nillable="true" type="tns:RemoteStreamEnvelope" />
</xs:schema>